platform-infrastructure/comms-frwk/ExampleServices/api/java/schema/src/main/resources/org.societies.api.schema.css.devicemanagement.xsd

<xs:schema	elementFormDefault="qualified" version="1.0" 
			targetNamespace="http://societies.org/api/schema/devicemanagement" 
			xmlns:tns="http://societies.org/api/schema/devicemanagement" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:element name="dmEvent">
 	<xs:complexType>
	    <xs:sequence>
	      <xs:element name="description" type="xs:string" minOccurs="0"/>
	      <xs:element name="deviceId" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
  	</xs:complexType>
</xs:element>
</xs:schema>

