api/schema/external/src/main/resources/org.societies.rdPartyService.enterprise.sharedCalendar.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" 
xmlns="http://societies.org/rdPartyService/enterprise/sharedCalendar"
targetNamespace="http://societies.org/rdPartyService/enterprise/sharedCalendar"
xmlns:tns="http://societies.org/rdPartyService/enterprise/sharedCalendar"
xmlns:xs="http://www.w3.org/2001/XMLSchema">


  <xs:complexType name="calendar">
    <xs:sequence>
      <xs:element name="calendarId" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="location" type="xs:string" minOccurs="0"/>
      <xs:element name="summary" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
 

<xs:element name="sharedCalendarBean">
  <xs:complexType >
    <xs:sequence>
      <xs:element name="calendarId" type="xs:string" minOccurs="0"/>
      <xs:element name="CISId" type="xs:string" minOccurs="0"/>
      <xs:element name="eventId" type="xs:string" minOccurs="0"/>
      <xs:element name="keyWord" type="xs:string" minOccurs="0"/>
      <xs:element name="method" type="tns:methodType" minOccurs="0"/>
      <xs:element name="subscriberId" type="xs:string" minOccurs="0"/>
      <xs:element name="privateCalendarSummary" type="xs:string" minOccurs="0"/>
      <xs:element name="newEvent" type="tns:event" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  </xs:element>


  <xs:complexType name="event" >
    <xs:sequence>
    <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="eventDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="eventId" type="xs:string" minOccurs="0"/>
      <xs:element name="eventSummary" type="xs:string" minOccurs="0"/>
      <xs:element name="location" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>


  <xs:element name="sharedCalendarResult">
  <xs:complexType >
    <xs:sequence>
      <xs:element name="calendarList" type="tns:calendar" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="eventList" type="tns:event" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="subscribingResult" type="xs:boolean"/>
      <xs:element name="createPrivateCalendarResult" type="xs:boolean"/>
      <xs:element name="eventId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  </xs:element>

  <xs:simpleType name="methodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="retrieveCISCalendarList"/>
      <xs:enumeration value="retrieveCalendarEvents"/>
      <xs:enumeration value="subscribeToEvent"/>
      <xs:enumeration value="findEvents"/>
      <xs:enumeration value="unsubscribeFromEvent"/>
      <xs:enumeration value="createPrivateCalendar"/>
      <xs:enumeration value="createEventOnPrivateCalendar"/>
      <xs:enumeration value="retrieveEventsPrivateCalendar"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

