api/schema/external/src/main/resources/org.societies.api.schema.privacytrust.trust.broker.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" 
	targetNamespace="http://societies.org/api/schema/privacytrust/trust/broker"   
	xmlns:tns="http://societies.org/api/schema/privacytrust/trust/broker" 
	xmlns:tnsm="http://societies.org/api/schema/privacytrust/trust/model"
	xmlns:tnsid="http://societies.org/api/schema/identity"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://societies.org/api/schema/privacytrust/trust/model"
		schemaLocation="org.societies.api.schema.privacytrust.trust.model.xsd" />
		
	<xs:import namespace="http://societies.org/api/schema/identity"
		schemaLocation="org.societies.api.schema.identity.xsd" />
	
	<xs:element name="trustBrokerRequestBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="methodName" type="tns:methodName" nillable="false" minOccurs="1"/>
				<xs:element name="retrieveTrustRelationships" type="tns:trustRelationshipsRequestBean" nillable="false" minOccurs="0"/>
				<xs:element name="retrieveExtTrustRelationships" type="tns:extTrustRelationshipsRequestBean" nillable="false" minOccurs="0"/>
				<xs:element name="retrieveTrustRelationship" type="tns:trustRelationshipRequestBean" nillable="false" minOccurs="0"/>
				<xs:element name="retrieveExtTrustRelationship" type="tns:extTrustRelationshipRequestBean" nillable="false" minOccurs="0"/>
				<xs:element name="retrieveTrustValue" type="tns:trustValueRequestBean" nillable="false" minOccurs="0"/>
				<xs:element name="removeTrustRelationships" type="tns:trustRelationshipsRemoveRequestBean" nillable="false" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="trustBrokerResponseBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="methodName" type="tns:methodName" nillable="false" minOccurs="1"/>
				<xs:element name="retrieveTrustRelationships" type="tns:trustRelationshipsResponseBean" nillable="false" minOccurs="0"/>
				<xs:element name="retrieveExtTrustRelationships" type="tns:extTrustRelationshipsResponseBean" nillable="false" minOccurs="0"/>
				<xs:element name="retrieveTrustRelationship" type="tns:trustRelationshipResponseBean" nillable="false" minOccurs="0"/>
				<xs:element name="retrieveExtTrustRelationship" type="tns:extTrustRelationshipResponseBean" nillable="false" minOccurs="0"/>
				<xs:element name="retrieveTrustValue" type="tns:trustValueResponseBean" nillable="false" minOccurs="0"/>
				<xs:element name="removeTrustRelationships" type="tns:trustRelationshipsRemoveResponseBean" nillable="false" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="methodName">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RETRIEVE_TRUST_RELATIONSHIPS"/>
			<xs:enumeration value="RETRIEVE_EXT_TRUST_RELATIONSHIPS"/>
			<xs:enumeration value="RETRIEVE_TRUST_RELATIONSHIP"/>
			<xs:enumeration value="RETRIEVE_EXT_TRUST_RELATIONSHIP"/>
			<xs:enumeration value="RETRIEVE_TRUST_VALUE"/>
			<xs:enumeration value="REMOVE_TRUST_RELATIONSHIPS"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="trustQueryBean">
		<xs:sequence>
			<xs:element name="trustorId" type="tnsm:trustedEntityIdBean" nillable="false" minOccurs="1"/>
			<xs:element name="trusteeId" type="tnsm:trustedEntityIdBean" minOccurs="0"/>
			<xs:element name="trusteeType" type="tnsm:trustedEntityTypeBean" minOccurs="0"/>
			<xs:element name="trustValueType" type="tnsm:trustValueTypeBean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="trustRelationshipsRequestBean">
		<xs:sequence>
		    <xs:element name="requestor" type="tnsid:requestorBean" nillable="false" minOccurs="1"/>
			<xs:element name="query" type="tns:trustQueryBean" nillable="false" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="trustRelationshipsResponseBean">
		<xs:sequence>
			<xs:element name="result" type="tnsm:trustRelationshipBean" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="extTrustRelationshipsRequestBean">
		<xs:sequence>
			<xs:element name="query" type="tns:trustQueryBean" nillable="false" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="extTrustRelationshipsResponseBean">
		<xs:sequence>
			<xs:element name="result" type="tnsm:extTrustRelationshipBean" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="trustRelationshipRequestBean">
		<xs:sequence>
		    <xs:element name="requestor" type="tnsid:requestorBean" nillable="false" minOccurs="1"/>
			<xs:element name="query" type="tns:trustQueryBean" nillable="false" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="trustRelationshipResponseBean">
		<xs:sequence>
			<xs:element name="result" type="tnsm:trustRelationshipBean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="extTrustRelationshipRequestBean">
		<xs:sequence>
			<xs:element name="query" type="tns:trustQueryBean" nillable="false" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="extTrustRelationshipResponseBean">
		<xs:sequence>
			<xs:element name="result" type="tnsm:extTrustRelationshipBean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="trustValueRequestBean">
		<xs:sequence>
		    <xs:element name="requestor" type="tnsid:requestorBean" nillable="false" minOccurs="1"/>
			<xs:element name="query" type="tns:trustQueryBean" nillable="false" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="trustValueResponseBean">
		<xs:sequence>
			<xs:element name="result" type="xs:double" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="trustRelationshipsRemoveRequestBean">
		<xs:sequence>
			<xs:element name="query" type="tns:trustQueryBean" nillable="false" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="trustRelationshipsRemoveResponseBean">
		<xs:sequence>
			<xs:element name="queryMatched" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
  
</xs:schema>