api/schema/external/src/main/resources/org.societies.api.schema.servicelifecycle.servicecontrol.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" 
	targetNamespace="http://societies.org/api/schema/servicelifecycle/servicecontrol" 
	xmlns:ns1="http://societies.org/api/schema/servicelifecycle/model" 
	xmlns:tns="http://societies.org/api/schema/servicelifecycle/servicecontrol" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://societies.org/api/schema/servicelifecycle/model" 
  		schemaLocation="org.societies.api.schema.servicelifecycle.model.xsd"/>

  <xs:element  name="serviceControlResultBean"> 
  <xs:complexType>
    <xs:sequence>
      <xs:element name="controlResult" type="tns:serviceControlResult" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element  name="serviceControlMsgBean">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="method" type="tns:methodType" minOccurs="0"/>
      <xs:element name="serviceId" type="ns1:serviceResourceIdentifier" minOccurs="0" />
      <xs:element name="service" type="ns1:service" minOccurs="0" />
      <xs:element name="shareJid" type="xs:string" minOccurs="0"/>
      <xs:element name="URL" type="xs:anyURI" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:element>

  <xs:complexType name="serviceControlResult">
  	<xs:sequence>
  		<xs:element name="message" type="tns:resultMessage" minOccurs="0" />
  		<xs:element name="serviceId" type="ns1:serviceResourceIdentifier" minOccurs="0" />
  	</xs:sequence>
  </xs:complexType>

  <xs:simpleType name="resultMessage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS"/>
      <xs:enumeration value="SERVICE_NOT_FOUND"/>
      <xs:enumeration value="SERVICE_TYPE_NOT_SUPPORTED"/>      
      <xs:enumeration value="BUNDLE_NOT_FOUND"/>
      <xs:enumeration value="OSGI_PROBLEM"/>
      <xs:enumeration value="COMMUNICATION_ERROR"/>
      <xs:enumeration value="EXCEPTION_ON_REMOTE"/>
      <xs:enumeration value="UNKNOWN_NODE"/>
      <xs:enumeration value="NEGOTIATION_FAILED"/>
      <xs:enumeration value="NEGOTIATION_ERROR"/>
    </xs:restriction>
  </xs:simpleType>
  
  
  <xs:simpleType name="methodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="startService"/>
	  <xs:enumeration value="stopService"/>
	  <xs:enumeration value="installService"/>
	  <xs:enumeration value="uninstallService"/>
	  <xs:enumeration value="shareService"/>
	  <xs:enumeration value="unshareService"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

