api/schema/external/src/main/resources/org.societies.api.schema.examples.complexservice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" elementFormDefault="qualified"
	targetNamespace="http://societies.org/api/schema/examples/complexservice"
	xmlns:tns="http://societies.org/api/schema/examples/complexservice"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="serviceAMsgBean">
	<xs:complexType>
    <xs:sequence>
      <xs:element name="complexBean" type="tns:myComplexBean" minOccurs="0"/>
      <xs:element name="method" type="tns:methodName" minOccurs="0"/>
    </xs:sequence>
  	</xs:complexType>
	</xs:element>

  <xs:complexType name="myComplexBean">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="subType" type="tns:mySubType" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mySubType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="serviceAMsgBeanResult">
	<xs:complexType>
    <xs:sequence>
      <xs:element name="complexBean" type="tns:myComplexBean" minOccurs="0"/>
    </xs:sequence>
  	</xs:complexType>
	</xs:element>

  <xs:simpleType name="methodName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="doSomething"/>
      <xs:enumeration value="doSomethingElse"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

