api/schema/external/src/main/resources/org.societies.api.schema.context.contextmanagement.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://societies.org/api/schema/context/contextmanagement"
	xmlns="http://societies.org/api/schema/context/contextmanagement"
	xmlns:tns="http://societies.org/api/schema/context/model" xmlns:tnsid="http://societies.org/api/schema/identity">

	<xs:import namespace="http://societies.org/api/schema/context/model"
		schemaLocation="org.societies.api.schema.context.model.xsd" />

	<xs:import namespace="http://societies.org/api/schema/identity"
		schemaLocation="org.societies.api.schema.identity.xsd" />

	<xs:element name="ctxBrokerRequestBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="method" type="brokerMethodBean" nillable="false" minOccurs="1"/>
				<xs:element name="retrieve" type="ctxBrokerRetrieveBean" nillable="false" minOccurs="0"/>
				<xs:element name="lookup" type="ctxBrokerLookupBean" nillable="false" minOccurs="0"/>
				<xs:element name="createEntity" type="ctxBrokerCreateEntityBean" nillable="false" minOccurs="0"/>
				<xs:element name="updateAttribute" type="ctxBrokerUpdateAttributeBean" nillable="false" minOccurs="0"/>
				<xs:element name="createAssociation" type="ctxBrokerCreateAssociationBean" nillable="false" minOccurs="0"/>
				<xs:element name="remove" type="ctxBrokerRemoveBean" nillable="false" minOccurs="0"/>
				<xs:element name="update" type="ctxBrokerUpdateBean" nillable="false" minOccurs="0"/>
				<xs:element name="createAttribute" type="ctxBrokerCreateAttributeBean" nillable="false" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ctxBrokerResponseBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="method" type="brokerMethodBean" nillable="false" minOccurs="1"/>
				<xs:element name="ctxBrokerCreateEntityBeanResult" type="tns:ctxEntityBean"
					nillable="false" minOccurs="0"/>
				<xs:element name="ctxBrokerLookupBeanResult" type="tns:ctxIdentifierBean"
					minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="ctxBrokerRetrieveBeanResult" type="tns:ctxIdentifierBean"
					nillable="false" minOccurs="0" />
				<xs:element name="ctxBrokerUpdateAttributeBeanResult"
					type="tns:ctxAttributeIdentifierBean" nillable="false" minOccurs="0" />
				<xs:element name="ctxBrokerCreateAssociationBeanResult"
					type="tns:ctxAssociationBean" minOccurs="0" />
				<xs:element name="ctxBrokerRemoveBeanResult" type="tns:ctxEntityIdentifierBean"
					minOccurs="0" />
				<xs:element name="ctxBrokerUpdateBeanResult" type="tns:ctxEntityIdentifierBean"
					minOccurs="0" />
				<xs:element name="ctxBrokerCreateAttributeBeanResult"
					type="tns:ctxAttributeBean" minOccurs="0" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ctxBrokerRetrieveBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="id" type="tns:ctxIdentifierBean"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctxBrokerLookupBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="modelType" type="tns:ctxModelTypeBean"
				minOccurs="0" />
			<xs:element name="type" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctxBrokerCreateEntityBean">
		<xs:sequence>
<!-- 			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />  -->
			<xs:element name="targetCss" type="xs:string" minOccurs="1" />
			<xs:element name="type" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctxBrokerUpdateAttributeBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="attrId" type="tns:ctxAttributeIdentifierBean"
				minOccurs="0" />
			<xs:element name="value" type="xs:base64Binary" minOccurs="0" />
			<xs:element name="valueMetric" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctxBrokerCreateAssociationBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="targetCss" type="xs:string" minOccurs="0" />
			<xs:element name="type" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctxBrokerRemoveBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="id" type="tns:ctxIdentifierBean"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctxBrokerUpdateBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="id" type="tns:ctxModelObjectBean"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctxBrokerCreateAttributeBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="scope" type="tns:ctxEntityIdentifierBean"
				minOccurs="0" />
			<xs:element name="type" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="brokerMethodBean">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATE_ENTITY"/>
			<xs:enumeration value="CREATE_ATTRIBUTE"/>
			<xs:enumeration value="CREATE_ASSOCIATION"/>
			<xs:enumeration value="RETRIEVE"/>
			<xs:enumeration value="UPDATE"/>
			<xs:enumeration value="REMOVE"/>
			<xs:enumeration value="LOOKUP"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>