api/schema/external/src/main/resources/org.societies.api.schema.privacytrust.trust.model.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" 
           targetNamespace="http://societies.org/api/schema/privacytrust/trust/model"   
           xmlns:tns="http://societies.org/api/schema/privacytrust/trust/model" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="trustedEntityIdBean">
    <xs:sequence>
      <xs:element name="entityType" type="tns:trustedEntityTypeBean" nillable="false"/>
      <xs:element name="entityId" type="xs:string" nillable="false"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="trustedEntityTypeBean">
    <xs:restriction base="xs:string">
      <xs:enumeration value="css"/>
      <xs:enumeration value="cis"/>
      <xs:enumeration value="svc"/>
      <xs:enumeration value="lgc"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="trustEvidenceTypeBean">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rated"/>
      <xs:enumeration value="friendedUser"/>
      <xs:enumeration value="unfriendedUser"/>
	  <xs:enumeration value="joinedCommunity"/>
      <xs:enumeration value="leftCommunity"/>
      <xs:enumeration value="usedService"/>
	</xs:restriction>
  </xs:simpleType>
  
</xs:schema>