api/schema/external/src/main/resources/org.societies.api.schema.privacytrust.privacy.model.privacypolicy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" elementFormDefault="qualified"
	targetNamespace="http://societies.org/api/schema/privacytrust/privacy/model/privacypolicy"
	xmlns:tns="http://societies.org/api/schema/privacytrust/privacy/model/privacypolicy"
	xmlns:ns1="http://societies.org/api/schema/identity" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	jaxb:extensionBindingPrefixes="xjc">

	<xs:import namespace="http://societies.org/api/schema/identity"
		schemaLocation="org.societies.api.schema.identity.xsd" />

	<xs:complexType name="responseItem">
		<xs:sequence>
            <xs:element name="responseItemId" type="xs:string" minOccurs="0" />
            <xs:element name="decision" type="tns:decision" minOccurs="0" />
			<xs:element name="requestItem" type="tns:requestItem"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="accessControlResponseItem">
        <xs:complexContent>
            <xs:extension base="tns:responseItem">
                <xs:sequence>
                    <xs:element name="obfuscationLevel" type="xs:double"/>
                    <xs:element name="obfuscationInput" type="xs:boolean" />
                    <xs:element name="remember" type="xs:boolean"/>
                    <xs:element name="requestorscope" type="tns:requestorScopeValues" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:complexType name="privacyPermission">
		<xs:complexContent>
			<xs:extension base="tns:responseItem">
				<xs:sequence>
					<xs:element name="requestor" type="ns1:requestorBean" />
					<xs:element name="obfuscationLevel" type="xs:double" />
					<xs:element name="creationDate" type="xs:dateTime" />
					<xs:element name="validityDuration" type="xs:long" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="requestItem">
		<xs:sequence>
            <xs:element name="requestItemId" type="xs:string" minOccurs="0" />
            <xs:element name="actions" type="tns:action" nillable="true"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="conditions" type="tns:condition"
				nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="optional" type="xs:boolean" />
			<xs:element name="resource" type="tns:resource" minOccurs="0" />
			<xs:element name="purpose" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="action">
		<xs:sequence>
            <xs:element name="actionId" type="xs:string" minOccurs="0" />
			<xs:element name="actionConstant" type="tns:actionConstants"
				minOccurs="0" />
			<xs:element name="optional" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="condition">
		<xs:sequence>
            <xs:element name="conditionId" type="xs:string" minOccurs="0" />
            <xs:element name="conditionConstant" type="tns:conditionConstants"
				minOccurs="0" />
			<xs:element name="optional" type="xs:boolean" />
			<xs:element name="value" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="resource">
		<xs:sequence>
			<xs:element name="resourceId" type="xs:string" minOccurs="0" />
			<xs:element name="dataIdUri" type="xs:string" minOccurs="0" />
			<xs:element name="dataType" type="xs:string" minOccurs="0" />
			<xs:element name="scheme" type="ns1:dataIdentifierScheme"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="requestPolicy">
		<xs:sequence>
			<xs:element name="requestItems" type="tns:requestItem"
				nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="requestor" type="ns1:requestorBean"
				minOccurs="0" />
			<xs:element name="privacyPolicyType" type="tns:privacyPolicyTypeConstants"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="responsePolicy">
		<xs:sequence>
            <xs:element name="responsePolicyId" type="xs:string" minOccurs="0" />
            <xs:element name="responseItems" type="tns:responseItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="negotiationStatus" type="tns:negotiationStatus" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="requestor" type="ns1:requestorBean" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="actionConstants">
		<xs:restriction base="xs:string">
			<xs:enumeration value="read" />
			<xs:enumeration value="write" />
			<xs:enumeration value="create" />
			<xs:enumeration value="delete" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="negotiationStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="successful" />
			<xs:enumeration value="ongoing" />
			<xs:enumeration value="failed"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="privacyPolicyTypeConstants">
		<xs:restriction base="xs:string">
			<xs:enumeration value="service" />
			<xs:enumeration value="cis" />
			<xs:enumeration value="other" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="privacyPolicyBehaviourConstants">
		<xs:restriction base="xs:string">
			<xs:enumeration value="private" />
			<xs:enumeration value="membersOnly" />
			<xs:enumeration value="public" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="decision">
		<xs:restriction base="xs:string">
			<xs:enumeration value="permit" />
			<xs:enumeration value="deny" />
			<xs:enumeration value="indeterminate" />
			<xs:enumeration value="notApplicable" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="requestorScopeValues">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Everyone" />
			<xs:enumeration value="Only_this_app" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="conditionConstants">
		<xs:restriction base="xs:string">
			<xs:enumeration value="shareWith3RdParties">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:typesafeEnumMember name="SHARE_WITH_3RD_PARTIES" />
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="shareWithCisMembersOnly" />
			<xs:enumeration value="shareWithCisOwnerOnly" />
			<xs:enumeration value="mayBeInferred" />
			<xs:enumeration value="dataRetentionInSeconds" />
			<xs:enumeration value="dataRetentionInMinutes" />
			<xs:enumeration value="dataRetentionInHours" />
			<xs:enumeration value="rightToOptout" />
			<xs:enumeration value="storeInSecureStorage" />
			<xs:enumeration value="rightToAccessHeldData" />
			<xs:enumeration value="rightToCorrectIncorrectData" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

