api/schema/external/src/main/resources/org.societies.api.schema.cis.manager.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
 * Copyright (c) 2011, SOCIETIES Consortium (WATERFORD INSTITUTE OF TECHNOLOGY (TSSG), HERIOT-WATT UNIVERSITY (HWU), SOLUTA.NET 
 * (SN), GERMAN AEROSPACE CENTRE (Deutsches Zentrum fuer Luft- und Raumfahrt e.V.) (DLR), Zavod za varnostne tehnologije
 * informacijske družbe in elektronsko poslovanje (SETCCE), INSTITUTE OF COMMUNICATION AND COMPUTER SYSTEMS (ICCS), LAKE
 * COMMUNICATIONS (LAKE), INTEL PERFORMANCE LEARNING SOLUTIONS LTD (INTEL), PORTUGAL TELECOM INOVAÇÃO, SA (PTIN), IBM Corp., 
 * INSTITUT TELECOM (ITSUD), AMITEC DIACHYTI EFYIA PLIROFORIKI KAI EPIKINONIES ETERIA PERIORISMENIS EFTHINIS (AMITEC), TELECOM 
 * ITALIA S.p.a.(TI),  TRIALOG (TRIALOG), Stiftelsen SINTEF (SINTEF), NEC EUROPE LTD (NEC))
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following
 * conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
 *    disclaimer in the documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
 * BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT 
 * SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */


/**
 * @author Thomas Carlyle Vilarinho (tcarlyle) 
 */
  -->
 
<xs:schema targetNamespace='http://societies.org/api/schema/cis/manager'
	elementFormDefault='qualified' xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:tns="http://societies.org/api/schema/cis/manager" 
	xmlns="http://societies.org/api/schema/cis/manager"
	xmlns:ins="http://societies.org/api/schema/cis/community"
	xmlns:ads="http://societies.org/api/schema/cis/directory">

<xs:import namespace="http://societies.org/api/schema/cis/directory" 
           schemaLocation="org.societies.api.schema.cis.directory.xsd"/>
           
<xs:import namespace="http://societies.org/api/schema/cis/community" 
           schemaLocation="org.societies.api.schema.cis.community.xsd"/>

	<xs:annotation>
		<xs:documentation>
			The protocol documented by this schema is defined in XEP-SOC1.
		</xs:documentation>
	</xs:annotation>



<!-- 	<xs:element name='communities'>
	   <xs:complexType>
	       <xs:sequence>
				<xs:element ref="cis-community" minOccurs='0' maxOccurs='unbounded'/>
      		</xs:sequence>
	    </xs:complexType>
	</xs:element>
	
	<xs:element name='cis-community'>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base='empty'>
         	<xs:attribute name='community-jid' type='xs:string'/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element> -->


	<xs:element name='communityManager'>
	   <xs:complexType>
	      <xs:choice>
	          <xs:element ref='create'/>
	          <xs:element ref='delete'/>
			  <xs:element ref='list'/>
			  <xs:element ref='listResponse'/>
			  <xs:element ref='searchCis'/>
			  <xs:element ref='askCisManagerForJoin'/>
			  <xs:element ref='ins:joinResponse'/>
			  <xs:element ref='configure'/>
			  <xs:element ref='notification'/>
	      </xs:choice>
	    </xs:complexType>
	</xs:element>
	


   <xs:element name='askCisManagerForJoin'>
	    <xs:complexType>
			<xs:sequence minOccurs='1' maxOccurs='1'>
				<xs:element name="cisAdv" type="ads:cisAdvertisementRecord"/>
			</xs:sequence>
	    </xs:complexType>
	</xs:element>

	
	<xs:element name='create'>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref='ins:community'/>
		</xs:sequence>
		<xs:attribute name='result' type='xs:boolean'/>
	</xs:complexType>
  </xs:element>
    
    <xs:element name='configure' type='empty' /><!-- TODO-->


	<xs:element name='searchCis' type='empty' /><!-- TODO-->


    <xs:element name='list'>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base='empty'>
          <xs:attribute name='listCriteria' type='tns:listCrit'/>
          <!-- xs:attribute name='listCriteria' type='xs:string'/ --> 
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  
  	<xs:simpleType name="listCrit">
 		 <xs:restriction base="xs:string">
		      <xs:enumeration value="owned"/>
		      <xs:enumeration value=" subscribed"/>
		      <xs:enumeration value="all"/>
		 </xs:restriction>
	</xs:simpleType>
    
  
      <xs:element name='listResponse'>
		<xs:complexType>
			<xs:sequence minOccurs='0' maxOccurs='unbounded'>
				<xs:element ref='ins:community'/>
			</xs:sequence>
		</xs:complexType>
  </xs:element>
  
    <xs:element name='delete'>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base='empty'>
          <xs:attribute name='owner-jid' type='xs:string'/>
          <xs:attribute name='community-jid' type='xs:string' use='required'/> <!-- xs:attribute name='jid' type='xs:string' use='required'/ -->
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  
  <xs:element name='notification'>
    <xs:complexType>
      <xs:choice>
        <xs:element ref='deleteNotification'/>
        <xs:element ref='subscribedTo'/>
        <xs:element ref='deleteMemberNotification'/>   
      </xs:choice>
    </xs:complexType>
  </xs:element>
  
  
  
   <xs:element name='deleteNotification'>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base='empty'>
          <xs:attribute name='owner-jid' type='xs:string'/> 
          <xs:attribute name='community-jid' type='xs:string'  use='required'/> 
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

   <xs:element name='deleteMemberNotification'>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base='empty'>
          <xs:attribute name='member-jid' type='xs:string' use='required'/> 
          <xs:attribute name='community-jid' type='xs:string'  use='required'/> 
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

	<xs:element name='subscribedTo'>
	    <xs:complexType>
			<xs:sequence minOccurs='1' maxOccurs='1'>
				<xs:element ref='ins:community'/>
			</xs:sequence>
			 <xs:attribute name='role' type='xs:string'  use='required'/> 
	    </xs:complexType>
	</xs:element>


  
    <xs:simpleType name='empty'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value=''/>
    </xs:restriction>
  </xs:simpleType>
  

</xs:schema>