api/schema/external/src/main/resources/org.societies.api.schema.activityfeed.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
 * Copyright (c) 2011, SOCIETIES Consortium (WATERFORD INSTITUTE OF TECHNOLOGY (TSSG), HERIOT-WATT UNIVERSITY (HWU), SOLUTA.NET 
 * (SN), GERMAN AEROSPACE CENTRE (Deutsches Zentrum fuer Luft- und Raumfahrt e.V.) (DLR), Zavod za varnostne tehnologije
 * informacijske družbe in elektronsko poslovanje (SETCCE), INSTITUTE OF COMMUNICATION AND COMPUTER SYSTEMS (ICCS), LAKE
 * COMMUNICATIONS (LAKE), INTEL PERFORMANCE LEARNING SOLUTIONS LTD (INTEL), PORTUGAL TELECOM INOVAÇÃO, SA (PTIN), IBM Corp., 
 * INSTITUT TELECOM (ITSUD), AMITEC DIACHYTI EFYIA PLIROFORIKI KAI EPIKINONIES ETERIA PERIORISMENIS EFTHINIS (AMITEC), TELECOM 
 * ITALIA S.p.a.(TI),  TRIALOG (TRIALOG), Stiftelsen SINTEF (SINTEF), NEC EUROPE LTD (NEC))
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following
 * conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
 *    disclaimer in the documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
 * BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT 
 * SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

  -->


  
<xs:schema  targetNamespace="http://societies.org/api/schema/activityfeed" 
elementFormDefault="qualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema"

xmlns="http://societies.org/api/schema/activityfeed"
	xmlns:ins="http://societies.org/api/schema/activity"
	>

<xs:import namespace="http://societies.org/api/schema/activity" 
           schemaLocation="org.societies.api.schema.activity.xsd"/>

<xs:element name='activityfeed' >
	
	<xs:complexType>
			<xs:choice minOccurs='0' maxOccurs='1'>
				<xs:element ref='deleteActivity'/>
				<xs:element ref='deleteActivityResponse'/>
				<xs:element ref='getActivities'/>
				<xs:element ref='getActivitiesResponse'/>
				<xs:element ref='addActivity'/>
				<xs:element ref='addActivityResponse'/>
				<xs:element ref='cleanUpActivityFeed'/>
				<xs:element ref='cleanUpActivityFeedResponse'/>
			</xs:choice>
	</xs:complexType>

</xs:element>
	
		<xs:element name='deleteActivity'>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref='ins:Activity'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name='deleteActivityResponse'>
		<xs:complexType>
			<xs:attribute name='result' type='xs:boolean'/>
		</xs:complexType>
	</xs:element>
	

	<xs:element name='cleanUpActivityFeed'>
		<xs:complexType>
			<xs:attribute name='criteria' type='xs:string' use='required'/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name='cleanUpActivityFeedResponse'>
		<xs:complexType>
			<xs:attribute name='result' type='xs:int'/>
		</xs:complexType>
	</xs:element>

	<xs:element name='getActivities'>
		<xs:complexType>
					<xs:attribute name='timePeriod' type='xs:string' use='required'/>
					<xs:attribute name='query' type='xs:string'/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name='getActivitiesResponse'>
		<xs:complexType>
			<xs:sequence minOccurs='0' maxOccurs='unbounded'>
				<xs:element ref='ins:Activity'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name='addActivity'>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref='ins:Activity'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name='addActivityResponse'>
		<xs:complexType>
			<xs:attribute name='result' type='xs:boolean'/>
		</xs:complexType>
	</xs:element>


</xs:schema>