api/schema/external/src/main/resources/org.societies.api.schema.cis.community.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--
/**
 * Copyright (c) 2011, SOCIETIES Consortium
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following
 * conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
 *    disclaimer in the documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
 * BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT 
 * SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/**
 * @author jmgoncalves and tcarlyle
 */
 -->
<xs:schema targetNamespace='http://societies.org/api/schema/cis/community'
	elementFormDefault='qualified' xmlns:xs="http://www.w3.org/2001/XMLSchema"  
			xmlns:tns="http://societies.org/api/schema/cis/community" 
	xmlns="http://societies.org/api/schema/cis/community">

	<xs:annotation>
		<xs:documentation>
			The protocol documented by this schema is defined in XEP-SOC1.
		</xs:documentation>
	</xs:annotation>

	<xs:element name='community'>
		<xs:complexType>
			<xs:choice minOccurs='0' maxOccurs='1'>
				<xs:element ref='join'/>
				<xs:element ref='leave'/>
				<xs:element ref='invite'/>
				<xs:element ref='who'/>
				<xs:element ref='add'/>
				<xs:element ref='subscription'/>
			</xs:choice>
		</xs:complexType>
	</xs:element>


	<xs:element name='subscription'>
		<xs:complexType>
			<xs:sequence minOccurs='1' maxOccurs='1'>
				<xs:element ref='participant'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>




	<xs:element name='participant'>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base='empty'>
					<xs:attribute name='jid' type='xs:string' use='required'/>
					<xs:attribute name='role' type='tns:participantRole' use='required'/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	
	<xs:simpleType name="participantRole">
 		 <xs:restriction base="xs:string">
		    <xs:enumeration value="owner"/>
		    <xs:enumeration value="admin"/>
		    <xs:enumeration value="participant"/>
		    <!-- and so on ... -->
		 </xs:restriction>
	</xs:simpleType>
	
	
	
	
	
	<xs:element name='join' >
		<xs:complexType>
			<xs:sequence>
				<xs:element ref='participant'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name='leave' type='empty' />
	<xs:element name='invite'>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base='empty'>
					<xs:attribute name='jid' type='xs:string' use='required'/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name='who'>
		<xs:complexType>
			<xs:sequence minOccurs='0' maxOccurs='unbounded'>
				<xs:element ref='participant'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name='add'>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref='participant'/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name='empty'>
		<xs:restriction base='xs:string'>
			<xs:enumeration value=''/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>