api/schema/external/src/main/resources/org.societies.api.schema.examples.fortunecookie.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" 
		targetNamespace="http://societies.org/api/schema/examples/fortunecookie" 
		xmlns:tns="http://societies.org/api/schema/examples/fortunecookie" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="fortuneCookieBeanResult">
  <xs:complexType >
    <xs:sequence>
      <xs:element name="cookie" type="tns:cookie" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="fortuneCookieBean">
  <xs:complexType >
    <xs:sequence>
      <xs:element name="method" type="tns:methodName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

  <xs:complexType name="cookie">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="methodName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="getCookie"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

