api/schema/external/src/main/resources/org.societies.api.schema.useragent.monitoring.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0"
	xmlns="http://societies.org/api/schema/useragent/monitoring"
	targetNamespace="http://societies.org/api/schema/useragent/monitoring"
	xmlns:tns="http://societies.org/api/schema/servicelifecycle/model"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<xs:import namespace="http://societies.org/api/schema/servicelifecycle/model" 
  			 schemaLocation="org.societies.api.schema.servicelifecycle.model.xsd"/>

 
	<xs:element name="userActionMonitorBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="senderDeviceId" type="xs:string" minOccurs="0" />
				<xs:element name="identity" type="xs:string" minOccurs="0" />
				<xs:element name="serviceResourceIdentifier" type="tns:serviceResourceIdentifier" minOccurs="0" />
				<xs:element name="serviceType" type="xs:string" minOccurs="0" />
				<xs:element name="parameterName" type="xs:string" minOccurs="0" />
				<xs:element name="value" type="xs:string" minOccurs="0" />
				<xs:element name="method" type="monitoringMethodType" minOccurs="0" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="monitoringMethodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="monitor" />
			<xs:enumeration value="registerForActionUpdates" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

