api/schema/external/src/main/resources/org.societies.api.schema.identity.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" elementFormDefault="qualified"
	targetNamespace="http://societies.org/api/schema/identity"
	xmlns:tns="http://societies.org/api/schema/identity"
	
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="requestorServiceBean">
    <xs:complexContent>
      <xs:extension base="tns:requestorBean">
        <xs:sequence>
          <xs:element name="requestorServiceId" type="tns:serviceResourceIdentifier"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="requestorBean">
    <xs:sequence>
      <xs:element name="requestorId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceResourceIdentifier">
    <xs:sequence>
      <xs:element name="identifier" type="xs:string" minOccurs="0"/>
      <xs:element name="serviceInstanceIdentifier" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataIdentifier" abstract="true">
    <xs:sequence>
      <xs:element name="ownerId" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="scheme" type="tns:dataIdentifierScheme" minOccurs="0"/>
      <xs:element name="uri" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestorCisBean">
    <xs:complexContent>
      <xs:extension base="tns:requestorBean">
        <xs:sequence>
          <xs:element name="cisRequestorId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="dataIdentifierScheme">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONTEXT"/>
      <xs:enumeration value="DEVICE"/>
      <xs:enumeration value="CIS"/>
      <xs:enumeration value="ACTIVITY"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

