api/schema/external/src/main/resources/org.societies.api.schema.security.policynegotiator.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema  elementFormDefault="qualified" version="1.0" 
            targetNamespace="http://societies.org/api/schema/security/policynegotiator"
            xmlns:tns="http://societies.org/api/schema/security/policynegotiator"
            xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Message bean and result bean require the additional "element" node -->
	<xs:element name="providerBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="method" type="tns:methodType" minOccurs="0"/>
				<xs:element name="modified" type="xs:boolean"/>
				<xs:element name="sessionId" type="xs:int"/>
				<xs:element name="serviceId" type="xs:string" minOccurs="0"/>
				<xs:element name="signedPolicyOption" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- Message bean and result bean require the additional "element" node -->
	<xs:element name="providerBeanResult">
		<xs:complexType >
			<xs:sequence>
				<xs:element name="slaBean" type="tns:slaBean" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- Other datatypes do not require the additional "element" node -->
	<xs:complexType name="slaBean">
		<xs:sequence>
			<xs:element name="sessionId" type="xs:int"/>
			<xs:element name="sla" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Other datatypes do not require the additional "element" node -->
	<xs:simpleType name="methodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="acceptPolicyAndGetSla"/>
			<xs:enumeration value="getPolicyOptions"/>
			<xs:enumeration value="reject"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
