api/schema/external/src/main/resources/org.societies.api.schema.useragent.monitoring.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0"
	targetNamespace="http://societies.org/api/schema/useragent/monitoring"
	xmlns:tns="http://societies.org/api/schema/useragent/monitoring"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="userActionMonitorBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="action" type="xs:string" minOccurs="0" />
				<xs:element name="identity" type="xs:string" minOccurs="0" />
				<xs:element name="method" type="tns:methodType" minOccurs="0" />
				<xs:element name="serviceResourceIdentifier" type="tns:serviceResourceIdentifier"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="serviceResourceIdentifier">
		<xs:sequence>
			<xs:element name="identifier" type="xs:anyURI" minOccurs="0" />
			<xs:element name="serviceInstanceIdentifier" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="methodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="monitor" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

