api/schema/external/src/main/resources/org.societies.api.sociallearning.schema.serverbean.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0"
	targetNamespace="http://societies.org/api/sociallearning/schema/serverbean"
	xmlns:tns="http://societies.org/api/sociallearning/schema/serverbean"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">



	<xs:element name="socialLearningServerBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="method" type="tns:socialLearningMethodType"
					minOccurs="1" />
				<xs:element name="address" type="xs:string" minOccurs="0" />
				<xs:element name="port" type="xs:int" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<xs:simpleType name="socialLearningMethodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="serverSocketInfo" />
			<xs:enumeration value="serverSocketInfoRequest" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>

