api/schema/external/src/main/resources/org.societies.api.schema.context.contextmanagement.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://societies.org/api/schema/context/contextmanagement"
	xmlns="http://societies.org/api/schema/context/contextmanagement"
	xmlns:tns="http://societies.org/api/schema/context/model" xmlns:tnsid="http://societies.org/api/schema/identity">

	<xs:import namespace="http://societies.org/api/schema/context/model"
		schemaLocation="org.societies.api.schema.context.model.xsd" />

	<xs:import namespace="http://societies.org/api/schema/identity"
		schemaLocation="org.societies.api.schema.identity.xsd" />

	<xs:element name="ctxBrokerRequestBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="method" type="brokerMethodBean"
					nillable="false" minOccurs="1" />
				<xs:element name="createEntity" type="createEntityBean"
					nillable="false" minOccurs="0" />
				<xs:element name="createAttribute" type="createAttributeBean"
					nillable="false" minOccurs="0" />
				<xs:element name="createAssociation" type="createAssociationBean"
					nillable="false" minOccurs="0" />
				<xs:element name="retrieve" type="retrieveBean" nillable="false"
					minOccurs="0" />
				<xs:element name="retrieveAll" type="retrieveAllBean" nillable="false"
					minOccurs="0" />
				<xs:element name="retrieveFuture" type="retrieveFutureBean"
					nillable="false" minOccurs="0" />
				<xs:element name="retrieveIndividualEntityId" type="retrieveIndividualEntityIdBean"
					nillable="false" minOccurs="0" />
				<xs:element name="retrieveCommunityEntityId" type="retrieveCommunityEntityIdBean"
					nillable="false" minOccurs="0" />
				<xs:element name="update" type="updateBean" nillable="false"
					minOccurs="0" />
				<xs:element name="updateAttribute" type="updateAttributeBean"
					nillable="false" minOccurs="0" />
				<xs:element name="remove" type="removeBean" nillable="false"
					minOccurs="0" />
				<xs:element name="lookup" type="lookupBean" nillable="false"
					minOccurs="0" />
				<xs:element name="lookupByScope" type="lookupByScopeBean"
					nillable="false" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ctxBrokerResponseBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="method" type="brokerMethodBean"
					nillable="false" minOccurs="1" />
				<xs:element name="createEntityBeanResult" type="tns:ctxEntityBean"
					nillable="false" minOccurs="0" />
				<xs:element name="createAttributeBeanResult" type="tns:ctxAttributeBean"
					minOccurs="0" />
				<xs:element name="createAssociationBeanResult" type="tns:ctxAssociationBean"
					minOccurs="0" />
				<xs:element name="retrieveBeanResult" type="tns:ctxModelObjectBean"
					nillable="false" minOccurs="0" />
				<xs:element name="retrieveAllBeanResult" type="tns:ctxModelObjectBean"
					minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="retrieveFutureBeanResult" type="tns:ctxAttributeBean"
					minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="retrieveIndividualEntityIdBeanResult"
					type="tns:ctxEntityIdentifierBean" minOccurs="0" />
				<xs:element name="retrieveCommunityEntityIdBeanResult"
					type="tns:ctxEntityIdentifierBean" minOccurs="0" />
				<xs:element name="updateBeanResult" type="tns:ctxModelObjectBean"
					minOccurs="0" />
				<xs:element name="updateAttributeBeanResult" type="tns:ctxModelObjectBean"
					nillable="false" minOccurs="0" />
				<xs:element name="removeBeanResult" type="tns:ctxModelObjectBean"
					minOccurs="0" />
				<xs:element name="ctxBrokerLookupBeanResult" type="tns:ctxIdentifierBean"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="createEntityBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="targetCss" type="xs:string" minOccurs="1" />
			<xs:element name="type" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createAttributeBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="scope" type="tns:ctxEntityIdentifierBean"
				minOccurs="0" />
			<xs:element name="type" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createAssociationBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="targetCss" type="xs:string" minOccurs="0" />
			<xs:element name="type" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="retrieveBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="id" type="tns:ctxIdentifierBean"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="retrieveAllBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="ids" type="tns:ctxIdentifierBean"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="retrieveFutureBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="attrId" type="tns:ctxAttributeIdentifierBean"
				minOccurs="1" />
			<xs:element name="date" type="xs:date" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="retrieveIndividualEntityIdBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="targetCss" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="retrieveCommunityEntityIdBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="1" />
			<xs:element name="target" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="ctxModelOject" type="tns:ctxModelObjectBean"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateAttributeBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="attrId" type="tns:ctxAttributeIdentifierBean"
				minOccurs="0" />
			<xs:element name="value" type="xs:base64Binary" minOccurs="0" />
			<xs:element name="valueMetric" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="removeBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="id" type="tns:ctxIdentifierBean"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="lookupBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="targetCss" type="xs:string" minOccurs="1" />
			<xs:element name="type" type="xs:string" minOccurs="1" />
			<xs:element name="modelType" type="tns:ctxModelTypeBean"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="lookupByScopeBean">
		<xs:sequence>
			<xs:element name="requestor" type="tnsid:requestorBean"
				minOccurs="0" />
			<xs:element name="scope" type="tns:ctxEntityIdentifierBean"
				minOccurs="1" />
			<xs:element name="modelType" type="tns:ctxModelTypeBean"
				minOccurs="1" />
			<xs:element name="type" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ctxChangeEventBean">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string" minOccurs="1"
					nillable="false" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="brokerMethodBean">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATE_ENTITY" />
			<xs:enumeration value="CREATE_ATTRIBUTE" />
			<xs:enumeration value="CREATE_ASSOCIATION" />
			<xs:enumeration value="RETRIEVE" />
			<xs:enumeration value="RETRIEVE_ALL" />
			<xs:enumeration value="RETRIEVE_FUTURE" />
			<xs:enumeration value="RETRIEVE_INDIVIDUAL_ENTITY_ID" />
			<xs:enumeration value="RETRIEVE_COMMUNITY_ENTITY_ID" />
			<xs:enumeration value="UPDATE" />
			<xs:enumeration value="REMOVE" />
			<xs:enumeration value="LOOKUP" />
			<xs:enumeration value="LOOKUP_BY_SCOPE" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>