privacy-trust/java/privacy-protection/privacy-data-management/dataid-schema-generator/src/main/resources/org.societies.api.identity.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" elementFormDefault="qualified"
	targetNamespace="http://societies.org/api/schema/identity"
	xmlns:tns="http://societies.org/api/schema/identity"
	
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="dataIdentifier" abstract="true">
    <xs:sequence>
      <xs:element name="ownerId" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="uri" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

